In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import string as str
import seaborn as sns
import os

In [46]:
df = pd.read_csv('./data/CW34_leads.csv')

c:\users\joe.hardy\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
def make_date_cols(df):
    df['lead_creation_datetime'] = pd.to_datetime(pd.Series(df['Lead Creation Datetime']))
    df['created_date'] = pd.to_datetime(pd.Series(df['Created Date']))
    df['datetime_of_first_call'] = pd.to_datetime(pd.Series(df['DateTime Of First Call']))
    df['converted_date'] = pd.to_datetime(pd.Series(df['Converted Date']))
    return(df)

In [48]:
df = make_date_cols(df)

In [49]:
df['Lead Creation Datetime']

0         8/19/2018 0:00
1        8/20/2018 14:00
2        8/21/2018 10:26
3        8/21/2018 15:26
4        8/22/2018 10:45
5         8/19/2018 0:04
6        8/20/2018 14:00
7        8/21/2018 10:27
8        8/21/2018 15:26
9        8/22/2018 10:46
10        8/19/2018 0:11
11       8/20/2018 14:00
12       8/21/2018 10:27
13       8/21/2018 15:26
14       8/22/2018 10:46
15        8/19/2018 0:13
16       8/20/2018 14:00
17       8/21/2018 10:27
18       8/21/2018 15:26
19       8/22/2018 10:46
20        8/19/2018 0:15
21       8/20/2018 14:00
22       8/21/2018 10:29
23       8/21/2018 15:26
24       8/22/2018 10:47
25        8/19/2018 0:17
26       8/20/2018 14:00
27       8/21/2018 10:29
28       8/21/2018 15:26
29       8/22/2018 10:48
              ...
17401    8/25/2018 22:39
17402    8/25/2018 22:47
17403    8/25/2018 22:47
17404    8/25/2018 22:49
17405    8/25/2018 22:53
17406    8/25/2018 22:53
17407    8/25/2018 22:59
17408    8/25/2018 23:00
17409    8/25/2018 23:00
17410    8/25/2018 23:03
17411    8/25/2018 23:06
17412    8/25/2018 23:08
17413    8/25/2018 23:09
17414    8/25/2018 23:10
17415    8/25/2018 23:10
17416    8/25/2018 23:12
17417    8/25/2018 23:15
17418    8/25/2018 23:17
17419    8/25/2018 23:32
17420    8/25/2018 23:32
17421    8/25/2018 23:33
17422    8/25/2018 23:42
17423    8/25/2018 23:43
17424    8/25/2018 23:45
17425    8/25/2018 23:47
17426    8/25/2018 23:47
17427    8/25/2018 23:49
17428    8/25/2018 23:49
17429    8/25/2018 23:54
17430    8/25/2018 23:57
Name: Lead Creation Datetime, Length: 17431, dtype: object

In [50]:
df[:10]

,Lead Creation Datetime,Created Date,Lead ID,Phone,Mobile,Express written consent,Marketing Partner,User Device,OM Test ID,Comment,...,Willingness to invest,Is U.S. Veteran,Exposed to loud noises,Precise Age,Zip/Postal Code,DateTime Of First Call,lead_creation_datetime,created_date,datetime_of_first_call,converted_date
0,8/19/2018 0:00,8/19/2018,00Q1o00000MNIeF,NaN,1.850207e+10,consent provided,GDN,Mobile,"37,723,777",NaN,...,No,No,NaN,64,32514,NaN,2018-08-19 00:00:00,2018-08-19,NaT,NaT
1,8/20/2018 14:00,8/20/2018,00Q1o00000MNaNW,1.818790e+10,NaN,consent provided,Taboola,Desktop,3781,NaN,...,NaN,No,NaN,88,91011,8/20/2018 14:03,2018-08-20 14:00:00,2018-08-20,2018-08-20 14:03:00,NaT
2,8/21/2018 10:26,8/21/2018,00Q1o00000MNlKL,NaN,1.337352e+10,consent provided,Taboola,Mobile,3781,NaN,...,No,Yes,Yes,61,79765,NaN,2018-08-21 10:26:00,2018-08-21,NaT,NaT
3,8/21/2018 15:26,8/21/2018,00Q1o00000MNqkE,NaN,1.206877e+10,consent provided,SMS,Mobile,NaN,NaN,...,NaN,No,NaN,67,92860,8/21/2018 16:31,2018-08-21 15:26:00,2018-08-21,2018-08-21 16:31:00,NaT
4,8/22/2018 10:45,8/22/2018,00Q1o00000MO0gk,NaN,1.713257e+10,consent provided,GDN,Mobile,3777,NaN,...,NaN,No,NaN,70,77077,8/22/2018 12:06,2018-08-22 10:45:00,2018-08-22,2018-08-22 12:06:00,NaT
5,8/19/2018 0:04,8/19/2018,00Q1o00000MNIf3,1.267607e+10,NaN,consent provided,A4D,Mobile,NaN,NaN,...,No,No,NaN,68,18917,NaN,2018-08-19 00:04:00,2018-08-19,NaT,NaT
6,8/20/2018 14:00,8/20/2018,00Q1o00000MNZ2T,1.865337e+10,1.865337e+10,consent provided,Internal Email,Desktop,3103,NaN,...,NaN,Yes,Yes,86,37921,NaN,2018-08-20 14:00:00,2018-08-20,NaT,NaT
7,8/21/2018 10:27,8/21/2018,00Q1o00000MNlKz,NaN,1.920460e+10,NaN,Direct Traffic,Desktop,NaN,NaN,...,NaN,No,NaN,70,54952,NaN,2018-08-21 10:27:00,2018-08-21,NaT,NaT
8,8/21/2018 15:26,8/21/2018,00Q1o00000MNqkO,NaN,1.630843e+10,consent provided,SMS,Mobile,NaN,NaN,...,Yes,No,NaN,72,60510,8/21/2018 16:32,2018-08-21 15:26:00,2018-08-21,2018-08-21 16:32:00,NaT
9,8/22/2018 10:46,8/22/2018,00Q1o00000MO0h9,NaN,1.626421e+10,consent provided,GDN,Mobile,3777,NaN,...,Yes financing,No,NaN,68,91103,8/22/2018 11:24,2018-08-22 10:46:00,2018-08-22,2018-08-22 11:24:00,NaT

In [51]:
df.columns

Index(['Lead Creation Datetime', 'Created Date', 'Lead ID', 'Phone', 'Mobile',
       'Express written consent', 'Marketing Partner', 'User Device',
       'OM Test ID', 'Comment', 'Success Page', 'Pre Lead URL', 'Lead URL',
       'Landing URL', 'act', 'Usage', 'Controlling Channel', 'Marketing offer',
       'Lead Status', 'Reason for closing of lead', 'Converted',
       'Opportunity ID', 'Converted Date', 'Stage', 'Last quote',
       'Reason for closed and lost', 'Alternative phone', 'Searching for',
       'Experience', 'Salutation', 'Age of current hearing aid',
       'Currently looking for hearing aids', 'Visited ENT or audiologist',
       'Recent hearing test', 'Why not sooner?', 'COSI Basic Subtype 1',
       'Discreet design', 'Tinnitus', 'Purchase timeframe',
       'Professional status', 'Income', 'Willingness to invest',
       'Is U.S. Veteran', 'Exposed to loud noises', 'Precise Age',
       'Zip/Postal Code', 'DateTime Of First Call', 'lead_creation_datetime',
       'created_date', 'datetime_of_first_call', 'converted_date'],
      dtype='object')

In [52]:
df['Landing URL'].str.contains('m.hear.com', regex=False)

0         True
1        False
2        False
3         True
4         True
5        False
6         True
7        False
8         True
9         True
10        True
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20        True
21       False
22       False
23        True
24        True
25       False
26        True
27        True
28        True
29       False
         ...
17401    False
17402    False
17403    False
17404     True
17405     True
17406    False
17407     True
17408    False
17409     True
17410    False
17411     True
17412    False
17413     True
17414    False
17415    False
17416     True
17417     True
17418    False
17419    False
17420    False
17421     True
17422    False
17423    False
17424     True
17425    False
17426    False
17427     True
17428    False
17429    False
17430     True
Name: Landing URL, Length: 17431, dtype: object

In [53]:
df['unbounce_primax'] = df['Landing URL'].str.contains('m.hear.com', regex=False)

In [54]:
df['static_primax'] = df['Landing URL'].str.contains('m.cdn.hear.com/product-primax', regex=False)

In [55]:
df['static_german'] = df['Landing URL'].str.contains('m.cdn.hear.com/product-primax_german-quality', regex=False)

In [56]:
df[:10]

,Lead Creation Datetime,Created Date,Lead ID,Phone,Mobile,Express written consent,Marketing Partner,User Device,OM Test ID,Comment,...,Precise Age,Zip/Postal Code,DateTime Of First Call,lead_creation_datetime,created_date,datetime_of_first_call,converted_date,unbounce_primax,static_primax,static_german
0,8/19/2018 0:00,8/19/2018,00Q1o00000MNIeF,NaN,1.850207e+10,consent provided,GDN,Mobile,"37,723,777",NaN,...,64,32514,NaN,2018-08-19 00:00:00,2018-08-19,NaT,NaT,True,False,False
1,8/20/2018 14:00,8/20/2018,00Q1o00000MNaNW,1.818790e+10,NaN,consent provided,Taboola,Desktop,3781,NaN,...,88,91011,8/20/2018 14:03,2018-08-20 14:00:00,2018-08-20,2018-08-20 14:03:00,NaT,False,True,True
2,8/21/2018 10:26,8/21/2018,00Q1o00000MNlKL,NaN,1.337352e+10,consent provided,Taboola,Mobile,3781,NaN,...,61,79765,NaN,2018-08-21 10:26:00,2018-08-21,NaT,NaT,False,True,True
3,8/21/2018 15:26,8/21/2018,00Q1o00000MNqkE,NaN,1.206877e+10,consent provided,SMS,Mobile,NaN,NaN,...,67,92860,8/21/2018 16:31,2018-08-21 15:26:00,2018-08-21,2018-08-21 16:31:00,NaT,True,False,False
4,8/22/2018 10:45,8/22/2018,00Q1o00000MO0gk,NaN,1.713257e+10,consent provided,GDN,Mobile,3777,NaN,...,70,77077,8/22/2018 12:06,2018-08-22 10:45:00,2018-08-22,2018-08-22 12:06:00,NaT,True,False,False
5,8/19/2018 0:04,8/19/2018,00Q1o00000MNIf3,1.267607e+10,NaN,consent provided,A4D,Mobile,NaN,NaN,...,68,18917,NaN,2018-08-19 00:04:00,2018-08-19,NaT,NaT,False,True,False
6,8/20/2018 14:00,8/20/2018,00Q1o00000MNZ2T,1.865337e+10,1.865337e+10,consent provided,Internal Email,Desktop,3103,NaN,...,86,37921,NaN,2018-08-20 14:00:00,2018-08-20,NaT,NaT,True,False,False
7,8/21/2018 10:27,8/21/2018,00Q1o00000MNlKz,NaN,1.920460e+10,NaN,Direct Traffic,Desktop,NaN,NaN,...,70,54952,NaN,2018-08-21 10:27:00,2018-08-21,NaT,NaT,False,False,False
8,8/21/2018 15:26,8/21/2018,00Q1o00000MNqkO,NaN,1.630843e+10,consent provided,SMS,Mobile,NaN,NaN,...,72,60510,8/21/2018 16:32,2018-08-21 15:26:00,2018-08-21,2018-08-21 16:32:00,NaT,True,False,False
9,8/22/2018 10:46,8/22/2018,00Q1o00000MO0h9,NaN,1.626421e+10,consent provided,GDN,Mobile,3777,NaN,...,68,91103,8/22/2018 11:24,2018-08-22 10:46:00,2018-08-22,2018-08-22 11:24:00,NaT,True,False,False

In [57]:
df['static_primax_unique'] = (df['static_primax'] != df['static_german'])

In [62]:
df_no_SMS = df[df['Marketing Partner'] != "SMS"]

In [68]:
df_no_SMS.shape

(15620, 55)

In [69]:
ct_LPs_devices = pd.crosstab(index=df_no_SMS['User Device'], columns = [df_no_SMS['static_primax_unique'], 
                                                                        df_no_SMS['static_german'], 
                                                                        df_no_SMS['unbounce_primax']])

In [70]:
ct_LPs_devices

static_primax_unique False             True
static_german        False       True  False
unbounce_primax      False True  False False
User Device
Desktop                545  1410  2127   552
Gaming                   1     0     0     0
Media                    0     4     1     0
Mobile                1108  5074   706  1677
Tablet                 205  1201   284   445

In [71]:
ct_LPs_devices.to_csv('./data/ct_LPs_devices_CW34.csv')