In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [3]:
df = pd.read_csv('LJJ_v2_report_20170424.csv')

In [8]:
datetime_object = dt.datetime.strptime(df['Created Date'][0], '%m/%d/%Y')

In [13]:
df['created_date'] = pd.to_datetime(pd.Series(df['Created Date']))

In [20]:
df.columns

Index(['Opportunity Name', 'Opportunity ID', 'Person Account: Mobile',
       'Created Date', 'Stage', 'Reason for closed and lost', 'Lego Level',
       'Partner provider', 'First appointment', 'Time to first Appointment',
       'Final appointment', 'Cancellation Type', 'Cancellation Category',
       'Cancellation Point Of Time', 'Date quote first time approved',
       'Date delivery receipt', 'Return Date', 'Number of Appointments',
       'Last Activity', 'Opportunity Owner', 'created_date'],
      dtype='object')

In [26]:
cc_stage_ct = pd.crosstab(df['Opportunity Owner'],df['Stage'])

In [23]:
df['date_delivery_receipt'] = pd.to_datetime(pd.Series(df['Date delivery receipt']))

In [27]:
cc_stage_ct

Stage,Appointment to be made,Closed and lost,Closed and won,In Process,On hold
Opportunity Owner,,,,,
James Hopper,14,194,124,74,2
Jonathan Bode,2,157,72,38,5
Lesly Pichardo,3,245,90,36,3

In [29]:
cc_stage_ct.columns

Index(['Appointment to be made', 'Closed and lost', 'Closed and won',
       'In Process', 'On hold'],
      dtype='object', name='Stage')

In [30]:
cc_stage_ct['success_rate'] = cc_stage_ct['Closed and won']/(cc_stage_ct['Closed and won']+cc_stage_ct['Closed and lost'])

In [31]:
cc_stage_ct

Stage,Appointment to be made,Closed and lost,Closed and won,In Process,On hold,success_rate
Opportunity Owner,,,,,,
James Hopper,14,194,124,74,2,0.389937
Jonathan Bode,2,157,72,38,5,0.314410
Lesly Pichardo,3,245,90,36,3,0.268657